@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap");
html {
  font-family: "Bellefair", serif;
  margin: 0;
  padding: 0;
}

html body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
}

html body main {
  width: 1440px;
  height: 900px;
  background: center/contain no-repeat url(/starter-code/assets/home/background-home-desktop.jpg);
}

html body main header {
  width: 1385px;
  height: 96px;
  padding: 40px 0px 0px 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 251px;
}

html body main header img {
  width: 48px;
  height: 48px;
}

html body main header .ligne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.25;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 473px;
  height: 1px;
  margin-left: 64px;
  mix-blend-mode: normal;
  background: #ffffff;
}

html body main header menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(81.5485px);
          backdrop-filter: blur(81.5485px);
  width: 830px;
  height: 96px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body main header menu ul {
  width: 542px;
  height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body main header menu ul li {
  list-style: none;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  height: 19px;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 2.7px;
}

html body main header menu ul li :hover {
  text-decoration: underline;
  text-underline-offset: 35px;
  text-decoration-thickness: 3px;
}

html body main header menu ul li a {
  color: #ffffff;
  text-decoration: none;
}

html body main header menu ul li a span {
  font-weight: 700;
}

html body main article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body main article .textes {
  width: 450px;
  height: 382px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body main article .textes :nth-child(1) {
  width: 379px;
  height: 34px;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  line-height: 33.6px;
  letter-spacing: 4.72px;
  color: #d0d6f9;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  margin-bottom: 24px;
}

html body main article .textes :nth-child(2) {
  width: 445px;
  height: 172px;
  font-size: 150px;
  line-height: 171.9px;
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  text-transform: uppercase;
  margin-bottom: 24px;
  margin-top: 24px;
}

html body main article .textes :nth-child(3) {
  width: 444px;
  height: 128px;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: #d0d6f9;
}

html body main article .texte-explore {
  background-color: #ffffff;
  width: 274px;
  height: 274px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

html body main article .texte-explore p {
  font-family: 'Bellefair', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  /* identical to box height */
  color: #0b0d17;
  letter-spacing: 2px;
  text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */